/* :root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --button-color: #f5f4fa;
} */

body {
  margin: 0;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/*убираем точки в списках*/
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* скрываем заголовки */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* Убираем нижненн подчеркивание у ссылок */
.link {
  text-decoration: none;
}
/* Заголовки 2 уровня */
.section-title {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/*style header*/
.page-header-style {
  display: flex;
  align-items: center;
}
.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /* outline: 2px solid tomato; */
}
.page-header {
  /* outline: 2px solid tomato; */
  /* position: fixed;
  width: 100%;
  min-height: 80px;
  top: 0;
  left: 0; */
  border-bottom: 1px solid #ececec;
}
.logo {
  display: block;

  /* outline: 2px solid tomato; */
  color: var(--primary-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo--position {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.logo__web {
  color: #2196f3;
}
/*style menu-nav*/
.site-nav {
  display: flex;
}
.site-nav--list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link--link {
  text-decoration: none;
}
.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  /* outline: 2px solid tomato; */
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current {
  color: var(--accent-color);
}
.site-nav__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;

  border-radius: 4px;
  background-color: var(--accent-color);
}
/* .site-nav .link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
  background-color: var(--accent-color);
}
.site-nav .link:hover::after,
.site-nav .link:focus::after {
  opacity: 1;
} */
.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}
/* Style contacts */
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts--list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: auto;
}
.contacts .contacts__item + .contacts__item {
  margin-left: 50px;
}
.contacts__mail,
.contacts__tel {
  display: flex;
  align-items: center;
}
/* Добавление иконок */
.contacts__icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--title-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__icon-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--title-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* .icon-mail:hover,
.icon-tel:hover {
  fill: var(--accent-color);
} */

/* .mail::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-image: url('../images/mail-icon.svg');
  background-size: contain;
}
.tel::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-image: url('../images/icon-tel.svg');
  background-size: contain;
} */

/* Конец добавление иконок */

.contacts__mail {
  /* outline: 2px solid tomato; */
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__tel {
  /* outline: 2px solid tomato; */
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__mail:hover .contacts__icon-mail,
.contacts__mail:focus .contacts__icon-mail {
  fill: var(--accent-color);
}
.contacts__mail:hover,
.contacts__mail:focus {
  color: var(--accent-color);
}
.contacts__tel:hover .contacts__icon-tel,
.contacts__tel:focus .contacts__icon-tel {
  fill: var(--accent-color);
}
.contacts__tel:hover,
.contacts__tel:focus {
  color: var(--accent-color);
}

/* Style main content*/
/* Style section Hero */
.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  /* background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/bg-img-hero.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; */
}
.hero--overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/bg-img-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  margin-top: 0;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.88;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border: 1px solid;
  border-color: var(--accent-color);
  cursor: pointer;

  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover,
.hero__button:focus {
  background-color: #188ce8;
  border-color: var(--primary-white-color);
}
/* Style Peculiarities*/
.section-peculiarities {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-peculiarities__title {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section-peculiarities__title--visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.peculiarities {
  display: flex;
}
.peculiarities--list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.peculiarities__item {
  width: 270px;
}
.peculiarities__item:not(:last-child) {
  margin-right: 30px;
}
/* Добавление иконок svg с помощью псевдоэлемента before
как background-image */
/* .peculiarities-item::before {
  display: block;
  content: '';
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px; */
/* background-size: contain; на весь блок */
/* background-repeat: no-repeat;
  background-position: center; */
/* }
.peculiarities-item.attention::before {
  background-image: url('../images/antenna.svg');
}
.peculiarities-item.punctuality::before {
  background-image: url('../images/clock.svg');
}
.peculiarities-item.planning::before {
  background-image: url('../images/diagram.svg');
}
.peculiarities-item.technology::before {
  background-image: url('../images/astronaut.svg');
} */
/* Конец  */
/* 2-й вариант для иконок svg */

.peculiarities__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.peculiarities__icon {
  width: 70px;
  height: 70px;
}
/* Конец */
.peculiarities__title {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.peculiarities__discription {
  padding: 0;
  margin: 0;
  line-height: 1.71;
  color: var(--title-text-color);
}
/*Style works*/
.section-works {
  padding-bottom: 90px;
}
.section-works__title {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.work--list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.work__img {
  display: block;
}
.work {
  display: flex;
}
.work__item:not(:last-child) {
  margin-right: 30px;
}
.work__box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.work__discription {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;

  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}
/*Style Our team */
.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team .list {
  padding: 0;
}
.team__image {
  display: block;
}
.team-list-card {
  display: flex;
}
.team__title {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-list-card--list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.team__card {
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__card:not(:last-child) {
  margin-right: 30px;
}

.team__card-disc {
  padding: 30px;
}
.team__user-name {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team__user-name-discription {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}
.team__list-network {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
.team__list-network--list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.team__network-item:not(:last-child) {
  margin-right: 10px;
}
.team__link-network {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: 1px solid tomato; */
}
.team__icon-network {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link-network:hover .team__icon-network,
.team__link-network:focus .team__icon-network {
  fill: var(--primary-white-color);
}
.team__link-network:hover,
.team__link-network:focus {
  background-color: var(--accent-color);
}
/* Style our clients */
.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-clients__title {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.clients--list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.clients {
  display: flex;
  margin: 0;
  padding: 0;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}
.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-color);
}
/*Style footer*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  /* outline: 2px solid tomato; */
}
.footer-adress {
  font-style: normal;
  /* outline: 2px solid tomato; */
}
.logo--footer {
  margin-bottom: 20px;
  color: var(--primary-white-color);

  /* outline: 2px solid tomato; */
}
.adress--list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.adress__mail {
  display: inline-block;
}
.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress__link {
  color: var(--primary-white-color);
  text-decoration: none;
  line-height: 1.71;
}
.adress__mail,
.adress__tel {
  color: var(--title-text-color);
  text-decoration: none;
  line-height: 1.71;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__mail:hover,
.adress__mail:focus {
  color: var(--accent-color);
}
.adress__tel:hover,
.adress__tel:focus {
  color: var(--accent-color);
}

.footer__logo-address {
  margin-right: 70px;
}

.conteiner--social-icons {
  display: flex;
  align-items: baseline;
}
.social-links-list {
  display: flex;
}
.social-links-list--list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.social-links-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  /* outline: 1px solid tomato; */
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links-list__items:not(:last-child) {
  margin-right: 10px;
}
.social-links__title,
.footer-subscribe__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.social-links-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}
.social-links-list__link:hover,
.social-links-list__link:focus {
  background-color: var(--accent-color);
}
.footer-subscribe {
  margin-left: auto;
}
.footer-subscribe-form {
  display: flex;
  align-items: center;
}

.footer-subscribe-form__input {
  width: 358px;
  height: 50px;
  padding: 15px;
  margin-right: 12px;

  font: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);

  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-subscribe-form__input:hover,
.footer-subscribe-form__input:focus {
  border-color: var(--primary-white-color);
}

.subscribe-button {
  display: flex;
  align-items: center;

  padding: 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;

  color: var(--button-color);
  border-color: transparent;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition-property: background-color, border-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button__icon-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--button-color);
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #188ce8;
  border-color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*Style porfolio*/
.work-section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* margin-top: 94px;
  margin-bottom: 94px; */
}
.work-section__title--visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*Style buttom*/
.filtr {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  list-style: none;
  /* outline: 2px solid tomato; */
  display: flex;
  justify-content: center;
  align-content: center;
}
.filtr__item {
  margin-right: 8px;
}
.filtr__item:last-child {
  margin-right: 0;
}

.filtr-btn {
  padding: 6px 22px;
  background-color: var(--button-color);
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  /* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12); */
  border-radius: 4px;
  border-color: transparent;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filtr-btn--active:hover,
.filtr-btn--active:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filtr-btn--active:active {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
/*Style work list*/
.work-list-pages {
  display: flex;
  flex-wrap: wrap;
}
.work-list-pages--list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.work-list-pages__item-discript {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
/* .work.list {
   outline: 2px solid tomato; 
} */
/* Идеальное решение при изменении 
размеров контейнера */
.work-list-pages > .work-list-pages__item {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

/* 2-й вариант решения:
  .work.list.pages > .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
} */
.work-list-pages > .work-list-pages__item:nth-child(3n) {
  margin-right: 0;
}
.work-list-pages > .work-list-pages__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.work-list-pages__link {
  display: block;
  text-decoration: none;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.work-list-pages__link:hover,
.work-list-pages__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.work-list-pages__work-title,
.work-list-pages__work-dicript {
  padding: 0;
  margin: 0;
}
.work-list-pages__images {
  display: block;
  /* margin-bottom: 20px; */
}
.work-list-pages__work-title {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.work-list-pages__work-dicript {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
.work-list-pages__work-link-position {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-list-pages__work-link-discription {
  position: absolute;
  margin: 0;

  /* width: 322px; */
  padding: 63px 24px;
  /* height: 100%; */

  opacity: 0;
  /* text-align: center; */
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  transform: translateY(100%);
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
}
/* 2-й метод: когда фон перед картинкой */
/* .work-link-position::before {
  display: inline-block;
  content: '';

  position: absolute;
  opacity: 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
 } */
.work-list-pages__link:hover .work-list-pages__work-link-discription,
.work-list-pages__link:focus .work-list-pages__work-link-discription {
  transform: translatey(0);
  opacity: 1;
}
/* .work.list.pages .item .link:hover .work-link-position::before,
.work.list.pages .item .link:focus .work-link-position::before {
  transform: translatey(0);
  opacity: 1;
} */

/* Style modal window */
/* Create backdrop  */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* end create backdrop */

/* Скрываем его через прозрачность и делаем доступ
до страницы сайта  */
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
/* Делаем трансформацию  */
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
/* создаем и позиционируем модалку к backdrop, центрируем
и делаем трансформацию  */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  /* height: 581px; */
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;

  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Style button close */
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  padding: 0;

  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;

  /* transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}
.button-close__icon {
  display: block;
  width: 18px;
  height: 18px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* End style button close */
.button-close:hover .button-close__icon,
.button-close:focus .button-close__icon {
  fill: var(--accent-color);
}
/* .button-close:hover,
.button-close:focus {
  border-color: var(--accent-color);
} */

/* Style form modal  */

.modal-title {
  display: block;
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
/* Style form */
.form-modal {
  /* position: relative; */
  display: flex;
  flex-direction: column;
}
.form-modal__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--title-text-color);
}
.form-modal__input {
  width: 100%;
  height: 40px;

  padding: 12px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__input--position {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;

  margin-bottom: 20px;
}
.form-modal__input--position::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.form-modal__input:hover,
.form-modal__input:focus {
  border-color: var(--accent-color);
}

.form-modal__user-name,
.form-modal__tel-namber,
.form-modal__email {
  position: relative;
  margin-bottom: 10px;
}
.form-modal__icon-person,
.form-modal__icon-phone,
.form-modal__icon-email {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* .form-modal__icon-phone {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__icon-email {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
.form-modal__user-name:hover .form-modal__icon-person,
.form-modal__user-name:focus-within .form-modal__icon-person {
  fill: var(--accent-color);
}
.form-modal__tel-namber:hover .form-modal__icon-phone,
.form-modal__tel-namber:focus-within .form-modal__icon-phone {
  fill: var(--accent-color);
}
.form-modal__email:hover .form-modal__icon-email,
.form-modal__email:focus-within .form-modal__icon-email {
  fill: var(--accent-color);
}
/* Style условия договора */
.form-modal__checkbox-terms {
  margin-bottom: 30px;
}
.form-modal__fake {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;

  margin-right: 8px;
  outline: 2px solid #212121;
  outline-offset: -2px;
  border-radius: 2px;

  transition-property: background-color, outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__icon-checkbox {
  fill: #fff;
}
.form-modal__link-terms {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;

  cursor: pointer;

  color: var(--title-text-color);
}
.form-modal__terms {
  /* margin-left: 5px; */

  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: #2196f3;
}

/* .checkbox:checked + .fake .icon-checkbox {
  fill: red;
} */
.form-modal__checkbox:focus + .form-modal__fake {
  outline-color: var(--accent-color);
}
.form-modal__checkbox:checked + .form-modal__fake {
  background-color: var(--accent-color);
  outline-color: var(--accent-color);
}

/* Style modal button отправить */
.modal-button {
  width: 200px;
  height: 50px;
  padding: 10px 55px;

  margin: 0 auto;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 1px solid transparent;

  color: var(--button-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: box-shadow, background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: var(--primary-white-color);
}
